:root{
    --gradient: linear-gradient(to right,
            #b8cbb8 0%, #b8cbb8 0%,
            #b465da 0%, #cf6cc9 33%,
            #ee609c 66%, #ee609c 100%);
}

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "segoe ui";
    font-size: 16px;
    line-height: 1.7;
    background: #24252a;
}


/* navbar styling */
.navbar{
    background: var(--gradient);
}

.navbar .container{
    max-width: 1200px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbar-collapse{
    list-style: none;
    display: flex;
}

.navbar-collapse a{
    text-decoration: none;
    color: #fff;
    padding: 7px 12px;
    font-weight: 500;
    transition: all .3s ease;
}

.navbar-collapse a:hover{
    color: #750da5;
}

.navbar-toggler__icon{
    padding: 2px;
    border-radius: 3px;
    border-right: 1px solid #5f3a63;
    border-left: 1px solid #5f3a63;
    transition: all .3s ease;
    display: none;
}

.navbar-toggler__icon:hover,
.navbar-toggler__icon.active{
    background: #b04fdd;
    cursor: pointer;
}

.navbar-toggler__icon:hover .bars,
.navbar-toggler__icon.active .bars
{
    background-color: #fff;
}

.bars{
    width: 30px;
    height: 4px;
    margin: 5px;
    background: #282828;
    border-radius: 3px;
    transition: all .3s ease;
}


.navbar-profile{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 40px;
    background: white;
    box-shadow: 0 1px 2px gray;
    cursor: pointer;
}

.navbar-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .navbar-profile{display: none;}

    .navbar-toggler__icon{display: block;}

    .navbar-collapse{
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 1px 2px #3d3d3d;
        overflow: hidden;
        height: 100%;
        width: 0%;
        background: var(--gradient);
        transition: all .2s linear;
    }

    .navbar-collapse.active{
        width: 50%;
        padding: 10%;
    }

    .navbar-collapse a{
        display: inline-block;
    }
}

















